.Aboutpage {
    margin: 70px 150px;
}

.Aboutpage h5 {
    color: gray;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 100;
}

.Aboutpage h1{
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
}

.Aboutme h3 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 100;
    margin: 0 0 15px 0;
}

.Aboutme {
    margin: 30px 150px;
}