.contactpage {
    margin: 30px 150px;
}

.contactpage h5 {
    color: gray;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 100;
}

.contactpage h2 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
}

.contactpage h4 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;
    color: gray;
    text-align: center;
    margin: 20px 300px;
}

.contactsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.contactsection>div {
    display: flex;
    gap: 12px;
}

.contactsection button{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.contactsection button:hover{
    cursor: pointer;
    background-color: rgb(21, 21, 21);
}